<template>
  <div class="clockView">
    <div class="clock">
      <div class="clock-face">
        <div class="hand hour-hand"></div>
        <div class="hand min-hand"></div>
        <div class="hand second-hand"></div>
      </div>
    </div>
    <div class="tag">
      done with
      <a href="https://javascript30.com/">Wes Bos Javascrip30 course</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Clock",
  data() {
    return {
      secondHand: {},
      minuteHand: {},
      hourHand: {}
    };
  },
  methods: {
    calcDegree(value) {
      return (value / 60) * 360 + 90;
    },
    setDate() {
      const now = new Date();

      const secondsDegrees = this.calcDegree(now.getSeconds());
      const minuteDegrees = this.calcDegree(now.getMinutes());
      const hourDegrees = this.calcDegree(now.getHours());
      this.secondHand.style.transform = `rotate(${secondsDegrees}deg)`;
      this.minuteHand.style.transform = `rotate(${minuteDegrees}deg)`;
      this.hourHand.style.transform = `rotate(${hourDegrees}deg)`;
    }
  },
  mounted: function() {
    this.secondHand = document.querySelector(".second-hand");
    this.minuteHand = document.querySelector(".min-hand");
    this.hourHand = document.querySelector(".hour-hand");
    setInterval(this.setDate, 1000);
    this.setDate();
  }
};
</script>

<style scoped>
.clockView {
  background: #018ded url("../assets/clock_background.jpg");
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

.clockView {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: calc(100vh - 48px);
  align-items: center;
}

.tag {
  font-size: 1rem;
  color: white;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  bottom: 0.2rem;
  width: 100%;
  text-align: center;
}

.tag a {
  color: orange;
  text-decoration: none;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

@media screen and (min-height: 730px) {
  .tag a:hover {
    font-size: 1.5rem;
    transition: all 0.1s ease;
  }
}

@media screen and (max-width: 320px) {
  .tag {
    font-size: 0.5rem;
  }
}
</style>
