<template>
  <div class="css-variables">
    <h2>
      Update CSS Variables with
      <span :style="hl">JS</span>
    </h2>

    <div class="controls">
      <label for="spacing">Spacing:</label>
      <input
        id="spacing"
        type="range"
        name="spacing"
        min="10"
        max="200"
        v-model="spacing"
        data-sizing="px"
      />
      <br />
      <label for="blur">Blur:</label>
      <input
        id="blur"
        type="range"
        name="blur"
        min="0"
        max="25"
        v-model="blur"
        data-sizing="px"
      />
      <br />
      <label for="base">Base Color</label>
      <input id="base" type="color" name="base" v-model="base" />
      <br />
      <img :style="image" src="../assets/css_variables_img.jpeg" />

      <div class="tag">
        done with
        <a href="https://javascript30.com/">Wes Bos Javascrip30 course</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CSSVariables",
  data() {
    return {
      spacing: 10,
      blur: 10,
      base: "#ffc600",
      color: "red"
    };
  },
  computed: {
    hl: function() {
      return {
        color: this.base
      };
    },
    image: function() {
      return {
        padding: `${this.spacing}px`,
        background: this.base,
        filter: `blur(${this.blur}px)`
      };
    }
  }
};
</script>

<style scoped>
.css-variables {
  min-height: calc(100vh - 48px);
  text-align: center;
  background: #193549;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

img {
  margin-top: 20px;
  width: calc(60vw);
}

.tag {
  font-size: 1rem;
  color: white;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  bottom: 0.2rem;
  width: 100%;
  text-align: center;
}

.tag a {
  color: orange;
  text-decoration: none;
}

@media screen and (min-height: 730px) {
  .tag a:hover {
    font-size: 1.5rem;
    transition: all 0.1s ease;
  }
}

@media screen and (max-width: 320px) {
  .tag {
    font-size: 0.5rem;
  }
}
</style>
