<template>
  <div class="drumkit">
    <div class="keys">
      <div data-key="65" class="key">
        <kbd>A</kbd>
        <span class="sound">clap</span>
      </div>
      <div data-key="83" class="key">
        <kbd>S</kbd>
        <span class="sound">hihat</span>
      </div>
      <div data-key="68" class="key">
        <kbd>D</kbd>
        <span class="sound">kick</span>
      </div>
      <div data-key="70" class="key">
        <kbd>F</kbd>
        <span class="sound">openhat</span>
      </div>
      <div data-key="71" class="key">
        <kbd>G</kbd>
        <span class="sound">boom</span>
      </div>
      <div data-key="72" class="key">
        <kbd>H</kbd>
        <span class="sound">ride</span>
      </div>
      <div data-key="74" class="key">
        <kbd>J</kbd>
        <span class="sound">snare</span>
      </div>
      <div data-key="75" class="key">
        <kbd>K</kbd>
        <span class="sound">tom</span>
      </div>
      <div data-key="76" class="key">
        <kbd>L</kbd>
        <span class="sound">tink</span>
      </div>
    </div>

    <div class="tag">
      done with
      <a href="https://javascript30.com/">Wes Bos Javascrip30 course</a>
    </div>

    <audio data-key="65" src="../assets/sounds/clap.wav"></audio>
    <audio data-key="83" src="../assets/sounds/hihat.wav"></audio>
    <audio data-key="68" src="../assets/sounds/kick.wav"></audio>
    <audio data-key="70" src="../assets/sounds/openhat.wav"></audio>
    <audio data-key="71" src="../assets/sounds/boom.wav"></audio>
    <audio data-key="72" src="../assets/sounds/ride.wav"></audio>
    <audio data-key="74" src="../assets/sounds/snare.wav"></audio>
    <audio data-key="75" src="../assets/sounds/tom.wav"></audio>
    <audio data-key="76" src="../assets/sounds/tink.wav"></audio>
  </div>
</template>

<script>
"use strict";

export default {
  name: "DrumKit",
  methods: {
    initClickableKeys: function() {
      document.querySelectorAll(".key").forEach(key => {
        key.addEventListener("click", keyElement => {
          let keyCode = keyElement.currentTarget.getAttribute("data-key");
          this.playSoundForKeyCode(keyCode);
        });
        key.addEventListener("transitionend", this.removeTransition);
      });
    },
    removeTransition: function(event) {
      if (event.propertyName === "transform") {
        event.target.classList.remove("playing");
      }
    },
    playSoundForKeyCode: function(keyCode) {
      let audio = document.querySelector(`audio[data-key="${keyCode}"]`);
      if (!audio) {
        return;
      }
      audio.currentTime = 0; // rewind to start
      audio.play();
      let key = document.querySelector(`.key[data-key="${keyCode}"]`);
      key.classList.add("playing");
    },
    initKeypressListener: function() {
      window.addEventListener("keydown", event => {
        this.playSoundForKeyCode(event.keyCode);
      });
    }
  },
  mounted: function() {
    this.initKeypressListener();
    this.initClickableKeys();
  }
};
</script>

<style>
.drumkit {
  font-size: 10px;
  background: url("../assets/drumkit_background.jpg") bottom center;
  background-size: cover;
}

.drumkit {
  margin: 0;
  padding: 0;
  min-height: calc(100vh - 48px);
  font-family: sans-serif;
}

.tag {
  font-size: 1rem;
  color: white;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  bottom: 0.2rem;
  width: 100%;
  text-align: center;
}

.tag a {
  color: orange;
  text-decoration: none;
}

.keys {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-flexbox;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.1s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

@media screen and (min-height: 730px) {
  .keys {
    padding-top: 25%;
  }

  .tag a:hover {
    font-size: 1.5rem;
    transition: all 0.1s ease;
  }
}

@media screen and (max-width: 420px) {
  .key {
    border: 0.2rem solid black;
    border-radius: 0.3rem;
    font-size: 0.5rem;
    margin: 1rem;
    padding: 0.5rem 0.25rem;
    width: 5rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 0.5rem black;
  }

  .kbd {
    display: block;
    font-size: 2rem;
  }

  .sound {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ffc600;
  }
}

@media screen and (max-width: 320px) {
  .tag {
    font-size: 0.5rem;
  }
}
</style>
