<template>
  <fd-section id="fizzBuzzGameContainer" class="GameView">
    <template #header>
      <fd-section-header id="gameHeader">
        <fd-section-title>Fizz Buzz Game</fd-section-title>
      </fd-section-header>
    </template>
    <fd-container style="display: inline-block;">
      <fd-col class="addMarginBottom textAlignLeft">
        <fd-panel id="gameRules">
          A simple coding challenge.
          <br />
          <br />Rules: <br />* You put in a number <br />* If given input is
          dividable by the numbers below, the corresponding word will be printed
          (e.g. Fizz when number is dividable by 3) <br />* When input is
          dividable by multiple numbers, all words will be printed (e.g. 15 →
          FizzBuzz) <br />* If input is not dividable by any number, the input
          will be returned (e.g. 1 → 1) <br />* Only numbers greater than 0 are
          allowed
        </fd-panel>
      </fd-col>
      <fd-col class="addMarginBottom">
        <fd-panel>
          <p class="textAlignLeft">Ruleset</p>
          <fd-list-group id="ruleSet">
            <fd-list-group-item
              v-for="(item, index) in rules"
              :key="index"
              class="justifyContent"
            >
              <fd-container fluid class="alignOnMobile">
                <fd-col :span="5">
                  <fd-input
                    placeholder="Divider"
                    v-model="item.number"
                    :state="isValidNumberInput(item) ? null : 'invalid'"
                  />
                </fd-col>
                <fd-col :span="5">
                  <fd-input
                    placeholder="Word"
                    v-model="item.word"
                    :state="isValidWordInput(item) ? null : 'invalid'"
                  />
                </fd-col>
                <fd-col :span="1">
                  <fd-button
                    styling="light"
                    icon="delete"
                    @click="rules.splice(index, 1)"
                  />
                </fd-col>
              </fd-container>
            </fd-list-group-item>
          </fd-list-group>
          <fd-button
            id="addRuleItem"
            styling="light"
            icon="add"
            @click="rules.push({ number: '', word: '' })"
          />
        </fd-panel>
      </fd-col>
      <fd-col class="addMarginBottom">
        <fd-panel id="tryOutSection">
          <p class="textAlignLeft">Try it out!</p>
          <fd-container>
            <fd-col :span="10">
              <fd-input
                id="numberInput"
                placeholder="Input number"
                v-model="input"
                @keyup.enter.native="calculate(input, rules)"
                class="addMarginBottom"
              />
            </fd-col>
            <fd-col :span="2">
              <fd-button
                id="calculateButton"
                styling="emphasized"
                :state="areRulesValid(rules) ? 'normal' : 'disabled'"
                @click="calculate(input, rules)"
                >Calculate</fd-button
              >
            </fd-col>
          </fd-container>
          <p id="result" class="textAlignLeft">Result: {{ this.result }}</p>
        </fd-panel>
      </fd-col>
    </fd-container>
  </fd-section>
</template>

<script>
export default {
  data() {
    return {
      input: "",
      result: "",
      rules: [
        { number: 3, word: "Fizz" },
        { number: 5, word: "Buzz" }
      ]
    };
  },
  methods: {
    calculate(input, rules) {
      if (input == "") {
        this.result = "";
        return;
      }

      if (!this.areRulesValid(rules)) {
        return;
      }

      if (!this.isNumber(input)) {
        this.result = "Given input is not a number!";
        return;
      }

      if (!this.isGreaterZero(input)) {
        this.result = "Only works with numbers greater than 0";
        return;
      }

      let optionalResult = "";
      rules.forEach(rule => {
        if (input % rule.number == 0) {
          optionalResult += rule.word;
        }
      });

      this.result = optionalResult ? optionalResult : input;
    },
    isNumber(input) {
      return input == 0 || !!+input;
    },
    isGreaterZero(input) {
      return input > 0;
    },
    isValidWordInput(rule) {
      if (rule.word !== "") {
        return true;
      }
      return false;
    },
    isValidNumberInput(rule) {
      if (this.isNumber(rule.number) && this.isGreaterZero(rule.number)) {
        return true;
      }
      return false;
    },
    isValidRule(rule) {
      return this.isValidNumberInput(rule) && this.isValidWordInput(rule);
    },
    areRulesValid(rules) {
      if (rules.length === 0) {
        return false;
      }
      let status = true;
      rules.forEach(rule => {
        if (!status) {
          return;
        }
        status = this.isValidRule(rule);
      });
      return status;
    }
  }
};
</script>

<style scoped>
.justifyContent {
  justify-content: center !important;
}

.addMarginBottom {
  margin-bottom: 12px !important;
}

.textAlignLeft {
  text-align: left;
}

@media screen and (max-width: 400px) {
  .alignOnMobile {
    display: flex !important;
  }

  .alignOnMobile .fd-col:first-of-type {
    padding-right: 5px !important;
  }
}
</style>
