<template>
  <fd-section class="home">
    <template #header>
      <fd-section-header>
        <fd-section-title>Welcome</fd-section-title>
      </fd-section-header>
    </template>
    <fd-container style="display: inline-block;">
      <fd-col class="addMarginBottom">
        <fd-panel>
          Welcome to the coding playground.
          <br />A place to code some stuff.
        </fd-panel>
      </fd-col>
      <fd-col
        class="addMarginBottom"
        v-for="(site, index) in sites"
        :key="site.title + index"
      >
        <fd-tile style="text-align: left;" is-button @click="open(site.link)">
          <fd-tile-media>
            <fd-identifier
              size="m"
              :icon="site.icon"
              background-color="accent-3"
            />
          </fd-tile-media>
          <fd-tile-content>
            <fd-tile-title>{{ site.title }}</fd-tile-title>
            <p>{{ site.description }}</p>
          </fd-tile-content>
        </fd-tile>
      </fd-col>
      <fd-col class="addMarginBottom">
        <fd-panel>
          <h2>Where do I find the code?</h2>
          <p>
            <a href="https://gitlab.com/ehni/coding-playground"
              >gitlab.com/ehni/coding-playground</a
            >
          </p>
        </fd-panel>
      </fd-col>
    </fd-container>
  </fd-section>
</template>

<script>
export default {
  name: "Home",
  methods: {
    open: function(route) {
      if (this.$route.path !== route) this.$router.push(route);
    }
  },
  data() {
    return {
      sites: [
        {
          title: "FizzBuzz",
          link: "/fizzbuzz",
          description: "A vueish attempt on the famous coding kata",
          icon: "simulate"
        },
        {
          title: "Clock",
          link: "/clock",
          description: "A simple clock made in js & css",
          icon: "arrow-down"
        },
        {
          title: "DrumKit",
          link: "/drumkit",
          description: "Make some noise with this drumkit!",
          icon: "marketing-campaign"
        },
        {
          title: "CSS Variables",
          link: "/cssvariables",
          description: "Playing around and manipulating css",
          icon: "indent"
        }
      ]
    };
  }
};
</script>

<style scoped>
.addMarginBottom {
  margin-bottom: 12px !important;
}
</style>
