<template>
  <div id="app">
    <fd-shell-bar>
      <fd-shell-bar-group position="start">
        <fd-shell-bar-logo>
          <fd-icon
            name="database"
            size="xl"
            style="color: white; padding: 5px;"
          />
        </fd-shell-bar-logo>
        <fd-shell-bar-product-menu>
          <template #title>Coding Playground</template>
          <template #default>
            <fd-menu-list>
              <fd-menu-item
                v-for="(site, index) in sites"
                :key="index"
                @click="clickThis(site)"
                >{{ site.title }}</fd-menu-item
              >
            </fd-menu-list>
          </template>
        </fd-shell-bar-product-menu>
        <fd-shell-bar-subtitle class="always-show">{{
          this.$router.currentRoute.name
        }}</fd-shell-bar-subtitle>
      </fd-shell-bar-group>
      <fd-shell-bar-group class="shellbar-end" position="end">
        <fd-shell-bar-actions>
          <fd-shell-bar-action>
            <fd-popover with-arrow placement="bottom-end">
              <template #control="{toggle}">
                <fd-shell-bar-action-button
                  @click="toggle"
                  icon="message-error"
                />
              </template>
              <template>
                <About />
              </template>
            </fd-popover>
          </fd-shell-bar-action>
        </fd-shell-bar-actions>
      </fd-shell-bar-group>
    </fd-shell-bar>
    <router-view id="content" />
  </div>
</template>

<script>
// @ is an alias to /src
import About from "@/views/About.vue";

export default {
  components: {
    About
  },
  data() {
    return {
      sites: [
        {
          title: "Home",
          link: "/"
        },
        {
          title: "FizzBuzz",
          link: "/fizzbuzz"
        },
        {
          title: "Clock",
          link: "/clock"
        },
        {
          title: "DrumKit",
          link: "/drumkit"
        },
        {
          title: "CSS Variables",
          link: "/cssvariables"
        }
      ]
    };
  },
  methods: {
    clickThis: function(site) {
      if (this.$route.path !== site.link) this.$router.push(site.link);
    }
  }
};
</script>

<style>
#content {
  text-align: center;
  /* display: flex;
  justify-content: center; */
}

.fd-shellbar__title {
  display: inline !important;
}

.shellbar-end {
  flex: none !important;
}

.always-show,
.always-show > * {
  display: block !important;
}

#nav a {
  font-weight: bold;
  color: white;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

@media screen and (max-width: 400px) {
  .hideOnMobile {
    display: none !important;
  }
}
</style>
